<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
    <meta charset="utf-8" />
    <title><f:render section="title" optional="true" /> - EquEd LMS</title>
    <f:asset.css identifier="equed-lms-style" href="EXT:equed-lms/Resources/Public/Css/styles.css" />
</head>
<body>
    <header>
        <h1><f:translate key="app.title" default="EquEd LMS" /></h1>
        <nav>
            <a href="/"><f:translate key="menu.home" default="Home" /></a>
            <a href="/courses"><f:translate key="menu.courses" default="Courses" /></a>
            <a href="/dashboard"><f:translate key="menu.dashboard" default="Dashboard" /></a>
        </nav>
    </header>

    <main>
        <f:flashMessages />
        <f:render section="main" />
    </main>

    <footer>
        <p>&copy; <f:format.date format="Y" date="{f:format.date(date: 'now')}" /> EquEd.eu</p>
    </footer>
</body>
</html>