<f:layout name="Default" />

<f:section name="main">
    <h1>Feedback zum Kurs</h1>

    <f:form action="submitFeedback" controller="Feedback">
        <div class="form-group" style="margin-bottom: 1em;">
            <label for="feedback">Dein Feedback</label><br>
            <f:form.textarea name="feedback" id="feedback" rows="6" cols="60" required="required" />
        </div>

        <div class="form-group">
            <f:form.submit value="Absenden" class="btn btn-primary" />
        </div>
    </f:form>
</f:section>