includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 6
  paths:
    - Classes
    - Tests
  autoload_directories:
    - Classes
    - Tests
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false